<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="colorphone.acb.com.libweather">

    <application android:allowBackup="true" android:supportsRtl="true">

        <activity
            android:name=".WeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".WeatherSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeAppBarActivity" />

        <!-- The weather provider contains weather data -->
        <provider
            android:name=".WeatherDataProvider"
            android:authorities="${applicationId}.weather"
            android:exported="false" />
    </application>
</manifest>
