<manifest package="com.acb.colorphone.permissions"
    xmlns:android="http://schemas.android.com/apk/res/android" >
    <application>
        <activity
            android:name="com.acb.colorphone.permissions.OverlayGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name="com.acb.colorphone.permissions.NotificationGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name="com.acb.colorphone.permissions.SettingPermissionsGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name=".AutoStartGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name=".ShowOnLockScreenGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name=".ShowOnLockScreenMIUIGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name=".AutoStartMIUIGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity
            android:name="com.acb.colorphone.permissions.NotificationMIUIGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/TransparentCompatDialog"/>
        <activity android:name=".AutoStartHuaweiGuideActivity"
                  android:excludeFromRecents="true"
                  android:launchMode="singleTask"
                  android:noHistory="true"
                  android:taskAffinity=":guide"
                  android:theme="@style/TransparentCompatDialog"/>
    </application>
</manifest>
