<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>3DWallpapers</key>
		<dict>
			<key>BaseUrl</key>
			<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/</string>
			<key>Items</key>
			<array>
				<dict>
					<key>LayerCount</key>
					<integer>2</integer>
					<key>Name</key>
					<string>brokenscreenad</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/brokenscreenad/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>fishtropical</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>leopard</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>dog</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/dog/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>dragon</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>2</integer>
					<key>Name</key>
					<string>brokenscreen</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>fishgreen</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>butterflyblue</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>dollor</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>redcar</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>tech3d</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>emojilove</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/emojilove/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>mickey</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>goldenrose</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/goldenrose/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>beautycar</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>bear</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>mountain</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>frog</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>fish</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>planet</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>rocket</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>love3d</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>techball</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>purplerose</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/purplerose/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>maple</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>leafdrops</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>starlight</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>emojinoodles</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>red</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>glowingflower</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>duck</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>rainad</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/rainad/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>bluesky</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>cat</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>rabbit</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>birthday3d</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>basketball</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/basketball/thumb.mp4</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>goldensand</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>rubikscube</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>rain</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>techcube</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>gyro</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>sunflower</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>blueflower</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>building</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>candy</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>cartoondog</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>goldenleaves</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>racecar</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>4</integer>
					<key>Name</key>
					<string>jet</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>samsung3d</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>football</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>aurora</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>balloon</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>flower</string>
				</dict>
				<dict>
					<key>LayerCount</key>
					<integer>3</integer>
					<key>Name</key>
					<string>skateboard</string>
				</dict>
			</array>
			<key>ThumbnailExtension</key>
			<string>png</string>
		</dict>
		<key>LiveWallpapers</key>
		<dict>
			<key>BaseUrl</key>
			<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/</string>
			<key>Enabled</key>
			<true/>
			<key>Items</key>
			<array>
				<dict>
					<key>Name</key>
					<string>love</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/love/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>blackpanther</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>tropicalfish</string>
					<key>VideoUrl</key>
					<string>http://appcloudbox.s3.amazonaws.com/launcherapps/apps/launcher/live/tropicalfish/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>redrose</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>yellowflower</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>ocean</string>
					<key>VideoUrl</key>
					<string>http://appcloudbox.s3.amazonaws.com/launcherapps/apps/launcher/live/ocean/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>pink</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>lily</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>greenrose</string>
					<key>VideoUrl</key>
					<string>http://appcloudbox.s3.amazonaws.com/launcherapps/apps/launcher/live/greenrose/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>thunder</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>particleflow</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>whiteflower</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>sea</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>smile</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>fishad</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/fishad/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>traffic</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>birdblue</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>birdgray</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>birdgreen</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>doglick</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>birdad</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/birdad/thumb.mp4</string>
				</dict>
				<string>lotusfish</string>
				<dict>
					<key>Name</key>
					<string>archive</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/archive/thumb.mp4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>pinkfish</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/pinkfish/thumb.mp4</string>
				</dict>
				<string>seagull</string>
				<dict>
					<key>Name</key>
					<string>jellyfish</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/jellyfish/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>christmassnow</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/christmassnow/thumb.mp4</string>
				</dict>
				<string>christmasred</string>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>christmaskitty</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/christmaskitty/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>donottouch</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>christmas</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/christmas/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>christmascandle</string>
				</dict>
				<string>christmastree</string>
				<string>music</string>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>crystalball</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/crystalball/thumb.mp4</string>
				</dict>
				<dict>
					<key>IsVideo</key>
					<true/>
					<key>Name</key>
					<string>halloween</string>
					<key>VideoUrl</key>
					<string>http://appcloudbox.s3.amazonaws.com/launcherapps/apps/launcher/live/halloween/thumb.mp4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>seawave</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/seawave/thumb.mp4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>storm</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/storm/thumb.mp4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>movingearth</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/movingearth/thumb.mp4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>emoji</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/emoji/thumb.mp4</string>
				</dict>
				<string>redflower</string>
				<string>meteorite</string>
				<string>pinkheart</string>
				<string>horse</string>
				<string>phoenix</string>
				<string>firefly</string>
				<string>forest</string>
				<string>fireworks</string>
				<dict>
					<key>Name</key>
					<string>bluestarrysky</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/bluestarrysky/thumb.mp4</string>
				</dict>
				<string>butterflypurple</string>
				<string>gold</string>
				<string>electronic</string>
				<string>black</string>
				<dict>
					<key>Name</key>
					<string>snowmoutain</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/snowmoutain/thumb.mp4</string>
				</dict>
				<string>starsky</string>
				<string>loveballoon</string>
				<dict>
					<key>Name</key>
					<string>heart</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/heart/thumb.mp4</string>
				</dict>
				<string>lion</string>
				<string>bubble</string>
				<dict>
					<key>Name</key>
					<string>rose</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/rose/thumb.mp4</string>
				</dict>
				<string>stars</string>
				<string>golden</string>
				<dict>
					<key>Name</key>
					<string>spacepurple</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/spacepurple/thumb.mp4</string>
				</dict>
				<string>sakura</string>
				<string>space</string>
				<dict>
					<key>Name</key>
					<string>abstractad</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/abstractad/thumb.mp4</string>
				</dict>
				<string>skull</string>
				<string>pinkdog</string>
				<dict>
					<key>Name</key>
					<string>bearred</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/bearred/thumb.mp4</string>
				</dict>
				<string>snownight</string>
				<string>pinkdiamond</string>
				<string>pinksakura</string>
				<string>butterfly</string>
				<string>earth</string>
				<string>tiger</string>
				<dict>
					<key>Name</key>
					<string>sunset</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/sunset/thumb.mp4</string>
				</dict>
				<string>night</string>
				<string>pinkrose</string>
				<dict>
					<key>Name</key>
					<string>raining</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/raining/thumb.mp4</string>
				</dict>
				<string>purplesakura</string>
				<string>coffeecat</string>
				<dict>
					<key>Name</key>
					<string>waterdrop</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/waterdrop/thumb.mp4</string>
				</dict>
				<string>whitesnow</string>
				<string>goldflower</string>
				<dict>
					<key>Name</key>
					<string>flowheart</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/flowheart/thumb.mp4</string>
				</dict>
				<string>samsung</string>
				<string>pandawater</string>
				<string>fruitninja</string>
				<dict>
					<key>Name</key>
					<string>net</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/net/thumb.mp4</string>
				</dict>
				<string>rosedog</string>
				<dict>
					<key>Name</key>
					<string>nighttown</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/nighttown/thumb.mp4</string>
				</dict>
				<string>wave</string>
				<string>chinesenewyear</string>
				<dict>
					<key>Name</key>
					<string>snowdrift</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/snowdrift/thumb.mp4</string>
				</dict>
				<string>unicorn</string>
				<string>panda</string>
				<dict>
					<key>Name</key>
					<string>snowflake</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/snowflake/thumb.mp4</string>
				</dict>
				<string>pinkflower</string>
				<string>chicken</string>
				<dict>
					<key>Name</key>
					<string>starrysky</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/starrysky/thumb.mp4</string>
				</dict>
				<string>samsungblue</string>
				<string>colorful</string>
				<string>purpleflower</string>
				<dict>
					<key>Name</key>
					<string>sun</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/sun/thumb.mp4</string>
				</dict>
				<string>birthday</string>
				<string>bearblue</string>
				<dict>
					<key>Name</key>
					<string>timetunnel</string>
					<key>VideoUrl</key>
					<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/live/timetunnel/thumb.mp4</string>
				</dict>
				<string>bonedog</string>
				<string>graffitired</string>
				<string>graffitipink</string>
				<string>samsungpurple</string>
				<string>neon</string>
				<string>feather</string>
				<string>horoscopearies</string>
				<string>horoscopetaurus</string>
				<string>horoscopegemini</string>
				<string>horoscopecancer</string>
				<string>horoscopeleo</string>
				<string>horoscopevirgo</string>
				<string>horoscopelibra</string>
				<string>horoscopescorpio</string>
				<string>horoscopesagittarius</string>
				<string>horoscopecapricorn</string>
				<string>horoscopeaquarius</string>
				<string>horoscopepisces</string>
			</array>
			<key>ThumbnailExtension</key>
			<string>png</string>
		</dict>
		<key>NewWallpaper</key>
		<dict>
			<key>BaseUrl</key>
			<string>http://cdn.ihandysoft.cn/light2019/resource/launcher/apps/launcher/Wallpaper_New/</string>
		</dict>
		<key>Wallpapers</key>
		<array>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>自然</string>
					<key>ar</key>
					<string>طبيعة</string>
					<key>es</key>
					<string>Naturaleza</string>
					<key>hi</key>
					<string>प्रकृति</string>
					<key>in</key>
					<string>Alam</string>
					<key>pt</key>
					<string>Natureza</string>
					<key>ru</key>
					<string>Природа</string>
					<key>th</key>
					<string>ธรรมชาติ</string>
					<key>tr</key>
					<string>Doğa</string>
				</dict>
				<key>Count</key>
				<string>0-224</string>
				<key>Identifier</key>
				<string>Nature</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>时尚</string>
					<key>ar</key>
					<string>موضة</string>
					<key>es</key>
					<string>Moda</string>
					<key>hi</key>
					<string>फैशन</string>
					<key>in</key>
					<string>Mode</string>
					<key>pt</key>
					<string>Moda</string>
					<key>ru</key>
					<string>Мода</string>
					<key>th</key>
					<string>แฟชัน</string>
					<key>tr</key>
					<string>Moda</string>
				</dict>
				<key>Count</key>
				<string>0-192</string>
				<key>Identifier</key>
				<string>Fashion</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>旅行</string>
					<key>ar</key>
					<string>سفر</string>
					<key>es</key>
					<string>Viajes</string>
					<key>hi</key>
					<string>यात्रा</string>
					<key>in</key>
					<string>Wisata</string>
					<key>pt</key>
					<string>Viagem</string>
					<key>ru</key>
					<string>Путешествия</string>
					<key>th</key>
					<string>ท่องเที่ยว</string>
					<key>tr</key>
					<string>Seyahat</string>
				</dict>
				<key>Count</key>
				<string>0-202</string>
				<key>Identifier</key>
				<string>Travel</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>动物</string>
					<key>ar</key>
					<string>حيوانات</string>
					<key>es</key>
					<string>Animales</string>
					<key>hi</key>
					<string>पशुओं</string>
					<key>in</key>
					<string>Hewan</string>
					<key>pt</key>
					<string>Animais</string>
					<key>ru</key>
					<string>Животные</string>
					<key>th</key>
					<string>สัตว์</string>
					<key>tr</key>
					<string>Hayvanlar</string>
				</dict>
				<key>Count</key>
				<string>0-217</string>
				<key>Identifier</key>
				<string>Animals</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>爱情</string>
					<key>ar</key>
					<string>حب</string>
					<key>es</key>
					<string>Amor</string>
					<key>hi</key>
					<string>मोहब्बत</string>
					<key>in</key>
					<string>Cinta</string>
					<key>pt</key>
					<string>Amor</string>
					<key>ru</key>
					<string>Любовь</string>
					<key>th</key>
					<string>ความรัก</string>
					<key>tr</key>
					<string>Aşk</string>
				</dict>
				<key>Count</key>
				<string>0-144</string>
				<key>Identifier</key>
				<string>Love</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>城市</string>
					<key>ar</key>
					<string>مدينة</string>
					<key>es</key>
					<string>Ciudad</string>
					<key>hi</key>
					<string>शहर</string>
					<key>in</key>
					<string>Kota</string>
					<key>pt</key>
					<string>Cidade</string>
					<key>ru</key>
					<string>Город</string>
					<key>th</key>
					<string>เมือง</string>
					<key>tr</key>
					<string>Şehir</string>
				</dict>
				<key>Count</key>
				<string>0-202</string>
				<key>Identifier</key>
				<string>City</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>美食</string>
					<key>ar</key>
					<string>طعام</string>
					<key>es</key>
					<string>Comida</string>
					<key>hi</key>
					<string>भोजन</string>
					<key>in</key>
					<string>Makanan</string>
					<key>pt</key>
					<string>Comida</string>
					<key>ru</key>
					<string>Еда</string>
					<key>th</key>
					<string>อาหาร</string>
					<key>tr</key>
					<string>Yiyecek</string>
				</dict>
				<key>Count</key>
				<string>0-158</string>
				<key>Identifier</key>
				<string>Food</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>汽车</string>
					<key>ar</key>
					<string>سيارات</string>
					<key>es</key>
					<string>Coches</string>
					<key>hi</key>
					<string>कारों</string>
					<key>in</key>
					<string>Mobil</string>
					<key>pt</key>
					<string>Carros</string>
					<key>ru</key>
					<string>Автомобили</string>
					<key>th</key>
					<string>รถยนต์</string>
					<key>tr</key>
					<string>Arabalar</string>
				</dict>
				<key>Count</key>
				<string>0-228</string>
				<key>Identifier</key>
				<string>Cars</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>人物</string>
					<key>ar</key>
					<string>أشخاص</string>
					<key>es</key>
					<string>Gente</string>
					<key>hi</key>
					<string>लोग</string>
					<key>in</key>
					<string>Orang</string>
					<key>pt</key>
					<string>Pessoas</string>
					<key>ru</key>
					<string>Люди</string>
					<key>th</key>
					<string>ผู้คน</string>
					<key>tr</key>
					<string>İnsanlar</string>
				</dict>
				<key>Count</key>
				<string>0-170</string>
				<key>Identifier</key>
				<string>People</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>工作</string>
					<key>ar</key>
					<string>عمل</string>
					<key>es</key>
					<string>Trabajo</string>
					<key>hi</key>
					<string>कार्य</string>
					<key>in</key>
					<string>Pekerjaan</string>
					<key>pt</key>
					<string>Trabalho</string>
					<key>ru</key>
					<string>Работа</string>
					<key>th</key>
					<string>ที่ทำงาน</string>
					<key>tr</key>
					<string>İş</string>
				</dict>
				<key>Count</key>
				<string>0-203</string>
				<key>Identifier</key>
				<string>Work</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>科技</string>
					<key>ar</key>
					<string>تكنولوجيا</string>
					<key>es</key>
					<string>Tecnología</string>
					<key>hi</key>
					<string>तकनीक</string>
					<key>in</key>
					<string>Teknologi</string>
					<key>pt</key>
					<string>Tecnologia</string>
					<key>ru</key>
					<string>Технологии</string>
					<key>th</key>
					<string>เทคโนโลยี</string>
					<key>tr</key>
					<string>Teknoloji</string>
				</dict>
				<key>Count</key>
				<string>0-152</string>
				<key>Identifier</key>
				<string>Technology</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>音乐</string>
					<key>ar</key>
					<string>موسيقى</string>
					<key>es</key>
					<string>Música</string>
					<key>hi</key>
					<string>संगीत</string>
					<key>in</key>
					<string>Musik</string>
					<key>pt</key>
					<string>Música</string>
					<key>ru</key>
					<string>Музыка</string>
					<key>th</key>
					<string>เพลง</string>
					<key>tr</key>
					<string>Müzik</string>
				</dict>
				<key>Count</key>
				<string>0-198</string>
				<key>Identifier</key>
				<string>Music</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>快乐</string>
					<key>ar</key>
					<string>سعيد</string>
					<key>es</key>
					<string>Felicidad</string>
					<key>hi</key>
					<string>खुश</string>
					<key>in</key>
					<string>Bahagia</string>
					<key>pt</key>
					<string>Feliz</string>
					<key>ru</key>
					<string>Счастье</string>
					<key>th</key>
					<string>ความสุข</string>
					<key>tr</key>
					<string>Mutlu</string>
				</dict>
				<key>Count</key>
				<string>0-111</string>
				<key>Identifier</key>
				<string>Happy</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>节日</string>
					<key>ar</key>
					<string>احتفال</string>
					<key>es</key>
					<string>Festival</string>
					<key>hi</key>
					<string>त्‍यौंहार</string>
					<key>in</key>
					<string>Perayaan</string>
					<key>pt</key>
					<string>Festival</string>
					<key>ru</key>
					<string>Праздники</string>
					<key>th</key>
					<string>เทศกาล</string>
					<key>tr</key>
					<string>Bayram</string>
				</dict>
				<key>Count</key>
				<string>0-150</string>
				<key>Identifier</key>
				<string>Festival</string>
			</dict>
			<dict>
				<key>CategoryName</key>
				<dict>
					<key>Default</key>
					<string>风景</string>
					<key>ar</key>
					<string>مناظر طبيعية</string>
					<key>es</key>
					<string>Paisajes</string>
					<key>hi</key>
					<string>भू-दृश्य</string>
					<key>in</key>
					<string>Lanskap</string>
					<key>pt</key>
					<string>Paisagem</string>
					<key>ru</key>
					<string>Пейзажи</string>
					<key>th</key>
					<string>ภูมิทัศน์</string>
					<key>tr</key>
					<string>Manzara</string>
				</dict>
				<key>Count</key>
				<string>0-234</string>
				<key>Identifier</key>
				<string>Landscape</string>
			</dict>
		</array>
		<key>customizeNativeAds</key>
		<dict>
			<key>Theme</key>
			<dict>
				<key>AdStep</key>
				<integer>3</integer>
				<key>AdSwitch</key>
				<true/>
				<key>StartIndex</key>
				<integer>3</integer>
			</dict>
			<key>Wallpaper</key>
			<dict>
				<key>AdStep</key>
				<integer>4</integer>
				<key>AdSwitch</key>
				<true/>
				<key>StartIndex</key>
				<integer>2</integer>
			</dict>
			<key>WallpaperPreview</key>
			<dict>
				<key>AdStep</key>
				<integer>4</integer>
				<key>AdSwitch</key>
				<true/>
				<key>StartIndex</key>
				<integer>4</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
