[submodule "libs/libColorhone"]
	path = libs/libColorhone
	url = http://git.ihandysoft.com/bingroup/Bin_ColorPhone_Android.git
[submodule "libs/chargingscreen"]
	path = libs/chargingscreen
	url = http://git.ihandysoft.com/bingroup/bin_chargingscreen_android.git
[submodule "libs/libChargingReport"]
	path = libs/libChargingReport
	url = http://git.ihandysoft.com/bingroup/Bin_FlashlightCharging_Android.git
