<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.honeycomb.colorphone">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="com.airbnb.lottie, com.acb.cashcenter, net.appcloudbox.ads, net.appcloudbox.ads.adadapter.MopubCommon, net.appcloudbox.ads.adadapter.MopubInterstitialAdapter, net.appcloudbox.ads.adadapter.MopubNativeAdapter, net.appcloudbox.ads.adadapter.MopubBannerAdapter, net.appcloudbox.trident, net.appcloudbox.autopilot, com.facebook, com.facebook.ads, net.pubnative.mediation, net.pubnative.library, net.pubnative.url_driller, net.pubnative.advertising_id_client, android.support.customtabs, net.appcloudbox.ads.adadapter.AmazonBannerAdapter" />

    <!-- Required by libAppFramework -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- Required by Umeng -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Ringtone -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- Required by Flash light -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS" />

    <uses-permission
        android:name="android.permission.WRITE_INTERNAL_STORAGE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.KILL_BACKGROUND_PROCESSES"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.VIBRATE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.RESTART_PACKAGES"
        tools:node="remove" />


    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.READ_NETWORK_USAGE_HISTORY"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.GET_PACKAGE_SIZE"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:node="remove" />

    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.honeycomb.colorphone.ColorPhoneApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- required by libAppFramework & libNativeAds -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af46bdc38bf1267984ed38b9784a45489a5dc2c3" />

        <meta-data android:name="android.max_aspect" android:value="2.4" />
        <meta-data android:name="CHANNEL" android:value="ColorPhone_K" />
        <activity
            android:name=".activity.ColorPhoneActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.honeycomb.colorphone.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarThemeDarkTemp">

        </activity>


        <receiver
            android:name=".receiver.LocaleConfigReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.OurAppInstalledReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ShareReceiver"
            android:exported="true" />

        <activity
            android:name=".activity.ThemePreviewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ColorPhoneActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppTheme.DarkFullScreen" />

        <activity
            android:name=".activity.PopularThemePreviewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ColorPhoneActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppTheme.DarkFullScreen" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />
        <activity
            android:name=".activity.LockerSettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />
        <activity
            android:name=".activity.ChargingSettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />
        <activity
            android:name=".activity.LedFlashSettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />

        <activity
            android:name=".activity.PopularThemeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />

        <activity
            android:name=".activity.NotificationSettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />

        <activity
            android:name=".activity.GuideApplyThemeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:taskAffinity=".call"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".activity.ContactsSelectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/ContactTheme" />

        <activity
            android:name=".activity.ContactsEditActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/ContactTheme" />

        <activity
            android:name=".activity.ContactsRingtoneSelectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/ContactTheme" />

        <activity
            android:name="com.acb.call.activity.RequestPermissionsActivity"
            android:taskAffinity=":main"
            tools:node="merge" />

        <activity
            android:name=".activity.RateAlertActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".RateAlert"
            android:theme="@style/TransparentCompatDialog" />

        <activity
            android:name=".feedback.FeedbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme"/>

        <!--Activity for test function-->
        <activity android:name=".activity.TestActivity" />

        <activity
            android:name=".activity.ShareAlertActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".share"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".boost.BoostActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:icon="@drawable/icon_boost2"
            android:label="@string/title_boost_activity"
            android:screenOrientation="nosensor"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".battery.BatteryCleanActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:icon="@drawable/icon_boost2"
            android:label="@string/title_boost_activity"
            android:screenOrientation="nosensor"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/SwitchCompatTheme" />

        <activity
            android:name=".cpucooler.CpuCoolDownActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:taskAffinity=".acb_interstitial_quiet"
            android:icon="@drawable/icon_boost2"
            android:label="@string/title_boost_activity"
            android:theme="@style/SwitchCompatTheme" />

        <activity
            android:name=".resultpage.ResultPageActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:icon="@drawable/icon_boost2"
            android:label="@string/title_boost_activity"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/AppTranslucent" />

        <activity android:name="com.call.assistant.ui.CallIdleAlertActivity"
            android:icon="@drawable/icon_callassistant"
            android:label="@string/title_callassistant_activity"/>


        <activity
            android:name=".gdpr.DataUsageSettingsActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme" />

        <activity
            android:name=".activity.NotificationAccessGuideAlertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".toolbar.NotificationActivity" />

        <activity
            android:name="net.appcloudbox.ads.base.FullAdActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <activity
            android:name="net.appcloudbox.ads.interstitialad.NativeInterstitial.AcbNativeInterstitialActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/LightTheme" />

        <activity
            android:name="net.appcloudbox.ads.interstitialad.NativeInterstitial.AcbNativeInterstitalQuietActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/LightTheme" />

        <activity
            android:name="net.appcloudbox.ads.interstitialad.ExpressInterstitial.AcbExpressInterstitialActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/LightTheme" />

        <activity
            android:name="net.appcloudbox.ads.interstitialad.ExpressInterstitial.AcbExpressInterstitalQuietActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet"
            android:theme="@style/LightTheme" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:noHistory="true"
            android:taskAffinity=".acb_interstitial_quiet" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet" />

        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet" />

        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/shape_empty"
            android:label="@string/ad_activity_label"
            android:taskAffinity=".acb_interstitial_quiet" />


        <service
            android:name=".theme.ThemeDownloadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- permanent -->
        <service
            android:name=".PermanentService"
            android:exported="true"
            android:label="GuardService"
            android:stopWithTask="false" />

        <service android:name=".PermanentService$PermanentServiceInner" />

        <service
            android:label="@string/acc_service_name"
            tools:replace="android:label"
            android:name="com.ihs.devicemonitor.accessibility.HSAccessibilityService">
        </service>

        <service
            android:name=".LockJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="com.intellectualflame.ledflashlight.washer.lockscreen.LockJobService" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.NotificationServiceV18"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Auto permission -->
        <service
            android:name="com.ihs.permission.HSPermissionService"
            android:process=":work"
            android:stopWithTask="false" />

        <receiver android:name=".receiver.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:exported="true"/>

        <receiver
            android:name=".PermanentService$PermanentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notification.NotificationAlarmReceiver"/>
        <receiver android:name=".toolbar.NotificationReceiver" />

        <activity android:name=".boost.BoostStarterActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:icon="@drawable/ic_boost_plus"
            android:label="@string/boost_title"
            android:excludeFromRecents="true"
            android:theme="@style/INVisibleTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StartGuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=":main"
            android:theme="@style/AppLightStatusBarTheme.Welcome" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".news.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.CashCenterActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/BaseTheme"/>
        <!-- JPush Daemon-->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.colorphone.smooth.dialer.cn"/>
            </intent-filter>
        </service>

        <!-- Move this service to main process for download ad -->
        <service
            android:name="com.ss.android.socialbase.downloader.downloader.IndependentProcessDownloadService"
            tools:remove="android:process">
        </service>

        <!--===== Dialer Module =====-->

        <activity
            android:name="com.honeycomb.colorphone.dialer.InCallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:taskAffinity="com.android.incallui"
            android:theme="@style/Theme.InCallScreen"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".dialer.DialerActivity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="vnd.android.cursor.item/phone" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="vnd.android.cursor.dir/calls" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <!-- Handle links from other applications -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <!-- Populate the system chooser -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Handle links in browsers -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.honeycomb.colorphone.dialer.InCallServiceImpl"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <!-- BroadcastReceiver for receiving Intents from Notification mechanism. -->
        <receiver
            android:name="com.honeycomb.colorphone.dialer.NotificationBroadcastReceiver"
            android:directBootAware="true"
            android:exported="false" />

        <activity
            android:name=".dialer.guide.GuideSetDefaultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/AppTranslucent" />

        <!--===== Dialer Module End =====-->

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:node="replace"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cmgamesdk_file_paths" />
        </provider>

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
            android:excludeFromRecents="true" />

        <activity
            android:name="com.messagecenter.notification.NotificationMessageAlertActivity"
            android:label="@string/title_message_activity"
            android:icon="@drawable/icon_message"
            tools:replace="android:label" />

        <activity
            android:name="com.colorphone.lock.lockscreen.locker.LockerActivity"
            android:icon="@drawable/shape_empty"
            android:excludeFromRecents="true"
            android:label="@string/title_locker_activity" />

        <activity
            android:name="com.colorphone.lock.lockscreen.chargingscreen.ChargingScreenActivity"
            android:icon="@drawable/shape_empty"
            android:excludeFromRecents="true"
            android:label="@string/title_locker_activity" />

        <activity
            android:name="com.acb.colorphone.permissions.AccessibilityMIUIGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:taskAffinity=":guide"
            android:theme="@style/AppTranslucentForMIUI"
            tools:replace="android:theme" />

        <activity
            android:name=".notification.CleanGuideActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:taskAffinity=":clean"
            android:label="@string/clean_guide_activity_label"
            android:icon="@drawable/clean_guide_icon"
            android:theme="@style/AppTranslucent"/>

        <activity
            android:name=".activity.ExitNewsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LightThemeFull" />

        <!--Override  - Tag : process-->

        <receiver
            android:name="com.ihs.device.clean.memory.MemoryReceiver"
            tools:node="remove" />
        <receiver
            android:name="com.ihs.device.monitor.usage.UsageBroadcastReceiver"
            tools:node="remove" />
    </application>

    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--Phone Speaker-->
    <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
</manifest>